@model IEnumerable<Performance>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="row">
    <div class="col 6 ">
        <h2 class="text-info">List of Performance KPI's</h2>
    </div>
    <div class="col-6 text-right">
        <partial name="_CreateButtonPartial" />
    </div>
</div>
<br />
<div>
    @if (Model.Count() > 0)
    {
        <table class="table table-striped border table-sm">
           <tr class="table-secondary">
                <th>
                    @Html.DisplayNameFor(p => p.FiscalId)
                </th>
                <th>
                    @Html.DisplayNameFor(p => p.KPA)
                </th>
                <th>
                    @Html.DisplayNameFor(p => p.KPI)
                </th>               
                <th>
                    @Html.DisplayNameFor(p => p.Qrt1Target)
                </th>
                <th>
                    @Html.DisplayNameFor(p => p.Qrt2Target)
                </th>
                <th>
                    @Html.DisplayNameFor(p => p.Qrt3Target)
                </th>
                <th>
                    @Html.DisplayNameFor(p => p.Qrt4Target)
                </th>
                <th>
                    @Html.DisplayNameFor(p => p.AnnualTarget)
                </th>        
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(P => item.Fiscal.FiscalYear)
                    </td>
                    <td>
                        @Html.DisplayFor(P => item.KPA.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(P => item.KPI.Name)
                    </td>                    
                    <td>
                        @Html.DisplayFor(P => item.Qrt1Target)
                    </td>
                    <td>
                        @Html.DisplayFor(P => item.Qrt2Target)
                    </td>
                    <td>
                        @Html.DisplayFor(P => item.Qrt3Target)
                    </td>
                    <td>
                        @Html.DisplayFor(P => item.Qrt4Target)
                    </td>
                    <td>
                        @Html.DisplayFor(P => item.AnnualTarget)
                    </td>                   
                    <td>
                        <partial name="_TableButtonPartial" model="item.Id" />
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No Performance KPI exists..... </p>
    }
</div>